/*html {*/
    /*zoom: 1; */
/*    -moz-transform: scale(1);*/
/*    -webkit-transform: scale(1);*/
/*    transform: scale(1);*/
/*}*/

/********************COLOURS********/
/*light green - #A7D2CB*/
/*medium green - #88ABA5*/
/*dark green - #576E6A*/
/*grey - #F8F8F8*/
/*light brown - #595145*/
/*(font) dark brown - #595145*/
/*(border color) lighterbrown #8A7D6B*/
/*yellow - #F2D388*/
/*cream - #FAEBD7*/
/*pink - #F6EDEE*/
/*red - #B70014*/


html,
body {
    position: relative;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    min-width: 1600px;
    overflow-x: auto;
    background-color: #F8F8F8;
    /*background-color: white;*/
}

#container {
    min-height: 100%;
    position:relative;
    margin:0;
    padding:0;
    /*background-color:white;*/
}

#header {
    width: 100%;
}

#body {
    padding-bottom:70px;   /*same height as footer */
    /*width:100%;*/
    height: auto !important;
    min-height: 100%;
}

.container-fluid {
    min-height: 100%;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 30px;
    /*background-color: white;*/
}

.raleway {
    font-family: Raleway, sans-serif;
    color: #595145;
}

.basicFontStyle {
    font-family: Raleway, sans-serif;
    color: #595145;
    font-size: 20px;
}

h1 {
    color:#595145;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}

h2{ 
    font-weight: 400;
    color:#595145;
    font-size: 25px;
    font-family: Raleway, sans-serif;
}

h3 {
   font-weight: 300;
   font-family: Raleway;
}

hr {
    height:1px;
    border:none;
    color:#333;
    background-color:#333;
}

.h3White {
    font-family: Raleway, sans-serif;
    color:white;
}

/*TopHeader**************************************************************************/

.topHeader {
	background-color: #F2D388;
	/*background-color: white;*/
	/*background-color: #F8F8F8;*/
	/*background-color: #88ABA5;*/
	/*background-color: #96BDB6;*/
	/*background-color: #A7D2CB;*/
	/*background-color:  #a7c4d2;*/
	/*background-color: #a7afd2;*/
    border-bottom-style: solid;
    border-color: #8A7D6B;
    border-width: 2px;
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topLink a {
    display: block;
    color: #595145;
    text-align: center;
    padding: 14px 25px;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    font-family: Raleway, sans-serif;
}

/*bottom header**************************************************************************/

.bottomHeader {
    position: relative;
    background-color: #A7D2CB;
    /*background-color: white;*/
    /*padding: 50px 50px;*/
    border-bottom-style: solid;
    border-color: #8A7D6B;
    border-width: 2px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.bottomLink a {
    display: block;
    color: #595145;
    text-align: center;
    float: center;
    padding: 50px 0 0;
    font-size: 150%;
    font-weight: 300;
    font-family: Raleway;
}

#rehab {
    font-size: 20px;
    font-weight: 400;
}

a:hover {
    color: #A3957F;
    text-decoration: none;
}

#headerTitle {
   font-family: Raleway, sans-serif;
   font-size: 30px;
   color: #595145;
   float:left;
   font-weight: 400;
   /*position: relative;*/

}

.logo {
    /*left: 20px;*/
    max-width: 100%;
    max-height: 100%;
    float:left;
    /*position: relative;*/
}

/*Footer*********************************************************************/

#footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    height:auto;
    min-height:70px;
    background-color: #F2D388;
    /*background-color:white;*/
    /*background-color: #A7D2CB;*/
    
    text-align: center;
    border-top-style: solid;
    border-width: 2px;
    border-color: #8A7D6B;
    /*background-color: #a7afd2;*/
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.footerFont{
    font-family: Raleway, sans-serif;
    color: #595145;
    font-size: 15px;
    margin-top: 25px;  
    /*height:auto;*/
}

/*TRIPLE HEADER*****************************************************/

.tripleHeader {
    position: relative;
    background-color: #F2D388;
    /*background-color: white;*/
    /*background-color: #A7D2CB;*/
    /*background-color:  #a7c4d2;*/
    /*background-color: #a7afd2;*/
    padding: 5px;
    text-align: center;
    /*border-top-style: solid;*/
    border-bottom-style: solid;
    border-color: #8A7D6B;
    border-width: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.pageTitle {
    display:block;
    text-align:center;
    font-family: Raleway, sans-serif;
    color: #595145;
}

/*FOURTH HEADER*******************************************************************/

.fourthHeader {
    position: relative;
    background-color: #A7D2CB;
    /*background-color: white;*/
    text-align: center;
    border-bottom-style: solid;
    border-color: #8A7D6B;
    border-width: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.fourthLink a {
    display: block;
    color: #595145;
    text-align: center;
    float: center;
    padding: 14px 25px;
    font-size: 21px;
    font-weight: 200;
    text-decoration: none;
    font-family: Raleway;
}

.fourthLink a:hover {
    color: #A3957F;
    text-decoration: none;
}

.quadLink {
    font-family: Raleway;
    display: block;
    float: center;
    color: #595145;
    text-align: center;
    padding: 10px 30px 10px;
    font-size: 130%;
}
.quadLink {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #A7D2CB;
}
.quadLink ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    zoom:1;
    /*border:1px solid red;*/
    overflow: hidden;
}
.quadLink li{
    /*font-family: 'Raleway' , sans-serif, Helvetica, Verdana;*/
    width: 33%;
    display:inline-block;
    /*padding: 10px 30px;*/
    /*font-size: 130%;*/
}

.quadLink a{
    color: #595145;
}


/*HOME PAGE CSS********************************************************************/

/*Carousel css*/

#myCarousel {
    /*width: 95%;*/
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

.panelOne {
    background-color: #A7D2CB;
    color: white;
    font-family: Raleway, sans-serif;
    min-height: 250px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.panelOneButton {
    background-color: white;
    color: #A7D2CB;
}

.panelTwo {
    background-color: #88ABA5;
    color: white;
    font-family: Raleway, sans-serif;
    min-height: 250px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.panelTwoButton {
    color: #88ABA5;
    background-color: white;
    
}

.panelThree {
    background-color: #576E6A;
    color: white;
    font-family: Raleway , sans-serif;
    min-height: 250px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.panelThreeButton {
    color: #576E6A;
    background-color: white;
}

.btns5 {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 10px;
    /*font-size: 22px;*/
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 50%;
    font-size: 18px;
    font-family: Raleway;
    left: 25%;
    position: absolute;
    bottom: 10%;
    margin:0 auto;
}

.greenbluedarker {
    color: white;
    background-color: #576E6A;
    border: 3px white solid;
}

.greenbluedarker:hover {
    background-color: white;
    color: #576E6A;
    border: 3px #576E6A solid;
}

/*LOGIN PAGE CSS****************************************************************/

/*Input fields login*/
.login{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    /*position:relative;*/
    /*background-color: #A7D2CB;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*border-radius: 12px;*/

    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    position: relative;
    width: 20%;
    font-size: 20px;
    font-family: Raleway;
    margin-left: 70%;
    float: center;
    margin: 8px 0;
}

button:hover {
    opacity: 0.8;
}

#noLogin {
    /*position: absolute;*/
    /*left: 30%;*/
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.login {
    width: 60%;
    padding: 10px;
}

.loginBlock{

  /*    width: 50%;*/
  /*margin: 0 auto;*/
  padding-left: 40%;
}

/*ADMIN LOGIN PAGE CSS****************************************************************/


/*REGISTER PAGE CSS****************************************************************/
.register {
    width: 100%;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.age {
    min-width: 100px;
    width: 8%;
    padding: 12px 20px;
    margin: 0px 50px 0px 0px;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    float: left;
}

.email {
    width: 60.3%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.gender {
    margin: 10px 0px 2px 0px;
    padding-left: 175px;
    /*margin-top: 10px;*/
    /*margin-bottom: 2px;*/
    
    /*float: left;*/
}

.otherextrabox {
    margin: 0px 60px 0px 0px;
    max-width:475px;
    width:100%;
}

.linearRadio input { 
    margin: 0px 0px 0px 20px;
}

.oUsertype input {
    margin: 0px 0px 10px 0px;
}

.box {
    padding: 20px;
    /*display: none;*/
    margin-top: 20px;
}

.boxtwo {
    padding: 20px;
    display: none;
    margin-top: 20px;
}

.boxthird {
    /*padding: 20px;*/
    display: none;
    /*margin-top: 20px;*/
    
    max-width:475px;
    width:100%;
}

.treated {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    display: none;
}

.otherDetailBox {
    background: linear-gradient(#ffffff, #e6e6e6);
    width:100%;
    max-width: 600px;
}

.country {
    padding: 12px 20px;
    border: 1px solid #ccc;
    width: 40%;
    /*color: #595145;*/
    overflow: hidden;
}

.country select {
    
    width: 160%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.country select:focus {
    outline: none;
}


/*ABOUT US PAGE****************************************************************/

.aboutUsImageOne {
    position: relative;
    width: 100%;
    height: 400px;
    /*height: 70%;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.map{
    position: relative;
    width: 100%;
    height: 650px;
    /*height: 70%;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.doctorImage {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.doctorPanel {
    border: 0;
    color: #595145;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    min-height: 530px;
    height: auto;
}

.panelWords{
    margin-left: 20px;
    margin-right: 20px;
}

.meetDoctor {
    font-family: Raleway, sans-serif;
    color: #595145;
}

.blocks {
    position: relative;
    /*set same height as images*/
    /*min-height: 500px;*/
    height: 50%;
    width: 100%;
}

.yellowBar {
    text-align:center;
    width:100%;
    height:80px;
    vertical-align: middle;
    line-height: 80px;   
    /*display: block;*/
    background-color:#F2D388;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.moduleButton {
    text-align: center;
    width: 80%;
    display:block;
    margin:0 auto;
}

.moduleButtonTwo {
    width: 80%;
    display:block;
    margin:0 auto;
    bottom: 10px;
    background-color: #88ABA5;
}

.btns4 {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    /*padding: 10px;*/
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 80%;
    height: 20%;
    font-size: 18px;
    font-family: Raleway;
    /*left: 40%;*/
    position: relative;
    bottom: 10%;
    margin:0 auto;
}

.greybrown2 {
  color: #595145;
    /*background-color: #F8F8F8;*/
    background-color: white;
    border: 3px #595145 solid;
} 

.greybrown2:hover {
    background-color: #595145;
    color: #F8F8F8;
    border: 3px #F8F8F8 solid;
}

.greenbluedark2 {
    color: #88ABA5;
    background-color: white;
    border: 3px #88ABA5 solid;
}

.greenbluedark2:hover {
    background-color: #88ABA5;
    color: white;
    border: 3px white solid;
}

.greenbluelight2 {
    color: #A7D2CB;
    background-color: white;
    border: 3px #A7D2CB solid;
}

.greenbluelight2:hover {
    background-color: #A7D2CB;
    color: #F8F8F8;
    border: 3px #F8F8F8 solid;
}

/*CONTACT US PAGE CSS*************************************************************/

#contactName, #contactEmail, #contactSubject{
    width: 100%;
    margin: 3px 0;
    padding: 5px 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #666666;  
    color:#595145;
}

#comment {
    box-sizing: border-box;
    border-style: solid;
    border-color: #666666;  
    color:#595145;
    width: 100%;
    height: 200px;
    margin: 3px 0;
    padding: 5px 20px;
}

.feedback {
    margin-left: 20%;
    margin-right: 20%;
}
#feedbackName, #feedbackEmail, #feedbackSubject{
    width: 100%;
     padding: 5px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #666666;  
    color:#595145;
}

#feedback {
    border-style: solid;
    border-color: #666666;  
    color:#595145;
    width: 100%;
    height: 200px;
    margin: 3px 0;
    padding: 5px 20px;
}

div.stars {
    width: 50%;
    margin: 0 auto;
    width: 270px;
    /*display: inline-block;*/
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
    
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

button2 {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    position: relative;
    width: 100px;
    font-size: 20px;
    font-family: Raleway;
    /*margin-left: 70%;*/
    /*float: center;*/
    /*margin: 8px 0;*/
}

.subject2 {
    /*padding: 12px 20px;*/
    /*margin: 8px 15px;*/
    /*border: 1px solid #ccc;*/
    /*width: 47.2%;*/
    /*color: #595145;*/
    /*overflow: hidden;*/
    
    /*width: 680px;*/
    width:50%;
    height: 50px;
    color: grey;
    background-color: white;
    border-style: solid;
    border-color: #666666;
    padding: 5px 20px;
}

.subject2 select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}


/*User Profile page css****************************************************************/

.middleAlign {
    text-align:center;
}

/*.testborder, td{*/
/*    border: 1px solid black;*/
/*}*/


/*User Profile coverflow****************************************************************/
#modulant {
    /*padding: 100px 0px 100px 0px;*/
    /*margin-top: 1000px;*/
	padding-bottom: 100px;
	/*position:relative;*/
}
#modulant-coverflow .cover {
	cursor:		pointer;
	width:		325px;
	height:		275px;
	box-shadow:	0 0 4em 1em white;
}

.btns6 {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 50%;
    font-size: 20px;
    font-family: Raleway;
    position: absolute;
    left: 25%;
    bottom: 10%;
}

.btns7 {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    width: 5%;
    font-size: 20px;
    font-family: Raleway;
}

/* FAQ QUESTION CSS***************************************************************************/

.faq_question {
    margin: 0px;
    padding: 20px 50px 20px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    font-weight: 200;
    font-family: Raleway;
    color: #595145;
    background-color:#A7D2CB;
    font-size: 19px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
 
.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    color: #595145;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.faq_answer {
    color: #595145;
    font-size: 19px;
    font-family: Raleway, sans-serif;
    /*min-height: 20px;*/
}

/*ABSTRACT EDUCATIONAL MODULE PAGE CSS*****************************************/

.abstract_question {
    margin: 0px;
    padding: 10px 50px 20px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    font-weight: 200;
    /*font-family: Raleway, sans-serif;*/
    color: #595145;
    background-color:#A7D2CB;
    font-size: large;
}
 
.abstract_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 50px;
    color: #595145;
}

.abstract_answer {
    color: #595145;
    font-family: Raleway, sans-serif;
}

.btns3 {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 20%;
    font-size: 20px;
    font-family: Raleway;
    left: 40%;
    position: relative;
    bottom: 10%;
}

.greenbluemedium2 {
    color: #A7D2CB;
    background-color: white;
    border: 3px #A7D2CB solid;
}

.greenbluemedium2:hover {
    background-color: #A7D2CB;
    color: white;
    border: 3px white solid;
}

/*EDUCATIONAL MODULE PAGE CSS*****************************************/

.moduleTitle {
    font-size: 20px;
    text-align: center;
}

.panelsOne {
    background-color: #A7D2CB;
    color: white;
    font-family: Raleway;
    min-height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
} 

/*.moduleOneButton {*/
/*    width: 40%;*/
/*    display:block;*/
/*    background-color: white;*/
/*    color: #A7D2CB;*/
/*    bottom: 15px;*/
/*    position: absolute;*/
/*    left: 30%;*/
/*}*/

.btns {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 40%;
    font-size: 20px;
    font-family: Raleway;
    position: absolute;
    left: 30%;
    bottom: 10%;
}

.greenbluedark {
    color: white;
    background-color: #88ABA5;
    border: 3px white solid;
}

.greenbluedark:hover {
    background-color: white;
    color: #88ABA5;
    border: 3px #88ABA5 solid;
}

.greenbluemedium {
    color: white;
    background-color: #A7D2CB;
    border: 3px white solid;
}

.greenbluemedium:hover {
    background-color: white;
    color: #A7D2CB;
    border: 3px #A7D2CB solid;
}

.panelsTwo {
    background-color: #88ABA5;
    color: white;
    font-family: Raleway;
    min-height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

/*.moduleTwoButton {*/
/*    width: 40%;*/
/*    display:block;*/
/*    background-color: white;*/
/*    color: #88ABA5;*/
/*    bottom: 15px;*/
/*    position: absolute;*/
/*    left: 30%;*/
/*}*/

/*.panelsThree {*/
/*    background-color: #576E6A;*/
/*    color: white;*/
/*    font-family: Raleway;*/
/*    min-height: 240px;*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/

/*.moduleThreeButton {*/
/*    text-align: center;*/
/*    width: 40%;*/
/*    display:block;*/
/*    margin:0 auto;*/
/*    background-color: white;*/
/*    color: #576E6A;*/
/*}*/

.panelsFour {
    background-color: #88ABA5;
    color: white;
    font-family: Raleway;
    margin-left: 5px;
    min-height: 240px;
    padding-left: 20px;
    padding-right: 20px;
}

.panelsFive {
    background-color: #A7D2CB;
    color: white;
    font-family: Raleway;
    min-height: 240px;
    padding-left: 20px;
    padding-right: 20px;
}


/*EDUCATIONAL MODULE PAGES (1-11) CSS*****************************************/

.modh1 {
    font-size: 30px;
    color: #88ABA5;
    font-weight: 900;
}

.modh2 {
    font-size: 25px;
    color: #88ABA5;
    font-weight: 900;
    margin-left: 2px;
}

.btn {
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    width: 40%;
    font-size: 20px;
    font-family: Raleway;
    /*margin-left: 70%;*/
    float: right;
    margin-bottom: 10px;
}

.btn2 {
    /*cursor: pointer;*/
    margin-top: 8px;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    width: 25%;
    font-size: 20px;
    font-family: Raleway;
    /*margin-left: 70%;*/
    text-align: center;
}

.whitebrown {
    color: #8A7D6B;
    background-color: white;
    border: 3px #8A7D6B solid;
}

.whitebrown:hover {
    background-color: #8A7D6B;
    color: white;
    border: 3px #595145 solid;
}

/*table, th, td {*/
/*   border: 1px solid black;*/
/*}*/
/******TABLE******/
table.a {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    margin: auto;
    border: none;
}

table.b {
    border-collapse: collapse;
    width: 100%;
}
table.c {
    border-collapse: collapse;
    width: 98%;
    margin-left: 15px;
}

th, td {
    text-align: center;
    padding: 8px;
}

td.b2 {
   padding: none; 
   /*border: none;*/
   text-align: justify;
   /*background-color: #F1E4E6;*/
   background-color: #F6EDEE;
   vertical-align: top;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #88ABA5;
    color: white;
}

.circle { list-style: circle; }

.diagram {
    max-width: 100%;
    max-height: 100%;
    float:center;
    /*position: relative;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagram2 {
    max-width: 100%;
    max-height: 100%;
    float:center;
    /*position: relative;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagramLabel {
    text-align: center;
    margin-left: 10px;
}

.words {
    margin-top: 20px;
    margin: none;
    line-height: 40px;
}

.words2 {
    line-height: 40px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}


/******CAROUSEL******/
.carousels {
    height: 840px;
    /*CENTER CAROUSEL INSIDE BODY*/
    width: 100%;
    margin: 0 auto;
    
    overflow: hidden;
    text-align: justify;
    position: relative;
    padding: 0;
    /*background-color: #EDD7B8;*/
    /*background-color: #FAEBD7;*/ /*cream*/
    /*background-color: white;*/
    /*background-color: #EDF6F4;*/
    /*background-color: #F6FAF9;*/
    background-color: #F6EDEE;
    /*background-color: #F1E4E6;*/
    /*box-shadow: 10px 10px 5px #888888;*/
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 10px #8A7D6B double;
    margin-bottom: 20px;
}
 
.carousels__controls, .carousels__slide, .carousels__activator { display: none; }

/***SLIDE 7***/
.carousels__activator:nth-of-type(7):checked ~ .carousel__track {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}

.carousels__activator:nth-of-type(7):checked ~ .carousels__slide:nth-of-type(7) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}

.carousels__activator:nth-of-type(7):checked ~ .carousels__controls:nth-of-type(7) { display: block; }
 
.carousels__activator:nth-of-type(7):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(7) { opacity: 1; }

/***SLIDE 6***/
.carousels__activator:nth-of-type(6):checked ~ .carousel__track {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}

.carousels__activator:nth-of-type(6):checked ~ .carousels__slide:nth-of-type(6) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}

.carousels__activator:nth-of-type(6):checked ~ .carousels__controls:nth-of-type(6) { display: block; }
 
.carousels__activator:nth-of-type(6):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(6) { opacity: 1; }

/***SLIDE 5***/
.carousels__activator:nth-of-type(5):checked ~ .carousels__track {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
 
.carousels__activator:nth-of-type(5):checked ~ .carousels__slide:nth-of-type(5) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}
 
.carousels__activator:nth-of-type(5):checked ~ .carousels__controls:nth-of-type(5) { display: block; }
 
.carousels__activator:nth-of-type(5):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(5) { opacity: 1; }

/***SLIDE 4***/
.carousels__activator:nth-of-type(4):checked ~ .carousels__track {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.carousels__activator:nth-of-type(4):checked ~ .carousels__slide:nth-of-type(4) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}
 
.carousels__activator:nth-of-type(4):checked ~ .carousels__controls:nth-of-type(4) { display: block; }

.carousels__activator:nth-of-type(4):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(4) { opacity: 1; }
 
/***SLIDE 3***/ 
.carousels__activator:nth-of-type(3):checked ~ .carousels__track {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
 
.carousels__activator:nth-of-type(3):checked ~ .carousels__slide:nth-of-type(3) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}
 
.carousels__activator:nth-of-type(3):checked ~ .carousels__controls:nth-of-type(3) { display: block; }
 
.carousels__activator:nth-of-type(3):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(3) { opacity: 1; }

/***SLIDE 2***/
.carousels__activator:nth-of-type(2):checked ~ .carousels__track {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousels__activator:nth-of-type(2):checked ~ .carousels__slide:nth-of-type(2) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}

.carousels__activator:nth-of-type(2):checked ~ .carousels__controls:nth-of-type(2) { display: block; }

.carousels__activator:nth-of-type(2):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(2) { opacity: 1; }

/***SLIDE 1***/ 
.carousels__activator:nth-of-type(1):checked ~ .carousels__track {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
 
.carousels__activator:nth-of-type(1):checked ~ .carousels__slide:nth-of-type(1) {
  -webkit-animation: carousel-show-slide 0.5s;
  animation: carousel-show-slide 0.5s;
  display: block;
}

.carousels__activator:nth-of-type(1):checked ~ .carousels__controls:nth-of-type(1) { display: block; }

.carousels__activator:nth-of-type(1):checked ~ .carousels__indicators .carousels__indicator:nth-of-type(1) { opacity: 1; }

/**carousel left/right buttons***/
.carousels__control {
    height: 45px;
    width: 45px;
    margin-top: -15px;
    margin-left: 40px;
    margin-right: 40px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 20px 20px 0 0;
    border-style: solid;
    /*border-color: #F8F8F8;*/
    border-color: #595145;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
}

.carousels__control:hover { opacity: 1; }

.carousels__control--forward {
    left: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
 
.carousels__control--backward {
    right: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*****carousel circle indicator***/
.carousels__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    /*margin-top: 20px;*/
}

.carousels__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35
    /*margin: 0 2.5px 0 2.5px;*/
}

.carousels__indicator:hover { opacity: 0.75; }
.carousels__indicator { background-color: #595145; }

.carousels__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.carousels__track .carousels__slide { display: block; }
 
.carousels__track .carousels__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
 
.carousels__track .carousels__slide:nth-of-type(2) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousels__track .carousels__slide:nth-of-type(3) {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.carousels__track .carousels__slide:nth-of-type(4) {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.carousels__track .carousels__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}

.carousels__track .carousels__slide:nth-of-type(6) {
  -webkit-transform: translateX(500%);
  transform: translateX(500%);
}

.carousels__track .carousels__slide:nth-of-type(7) {
  -webkit-transform: translateX(500%);
  transform: translateX(500%);
}

/****actual carousel text***/
.carousels__slide {
    height: 100%;
    right: 0;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    font-family: Raleway;
    font-style: justify;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 12%;
    /*padding-top: 50px;*/
    /*padding-bottom: 30px;*/
    /*background-color: white;*/
    margin-top: 4%;
    margin-bottom: 50%;
}
 
.carousels__slide {
    border-radius: 10px;
    overflow: hidden;
}
 


@-webkit-keyframes 
carousels-show-slide {  from {
    opacity: 0;
}
 
to { opacity: 1; }
}
 
@keyframes
carousels-show-slide {  from {
    opacity: 0;
}

to { opacity: 1; }
}

.carousels__slide:nth-of-type(1) {
    background-size: cover;
    background-position: center;
}

.carousels__slide:nth-of-type(2) {
    background-size: cover;
    background-position: center;
}
.carousels__slide:nth-of-type(3) {
    background-size: cover;
    background-position: center;
}

.carousels__slide:nth-of-type(4) {
    background-size: cover;
    background-position: center;
}

.carousels__slide:nth-of-type(5) {
    background-size: cover;
    background-position: center;
}

.carousels__slide:nth-of-type(6) {
    background-size: cover;
    background-position: center;
}

.carousels__slide:nth-of-type(7) {
    background-size: cover;
    background-position: center;
}


/*ACCOUNT DETAILS PAGE CSS***********************************************************/

.personalDetail h3,
.personalDetail a {
    display: inline;
    vertical-align: top;
    line-height: 28px;
}

/*UPDATE DETAIL PAGE********************************************************************/

.countrys {
    padding: 12px 20px;
    margin: 8px 15px;
    border: 1px solid #ccc;
    width: 47.2%;
    color: #595145;
    overflow: hidden;
}

.countrys select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.emails {
    width: 48.5%;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.redbrown {
    color: white;
    /*background-color: #F8F8F8;*/
    background-color: #B70014;
    border: 3px #B70014 solid;
} 

.redbrown:hover {
    background-color: #BE192B;
    color: white;
    border: 3px white solid;
}

/*OVERALL RESULTS PAGE********************************************************************/

.overallPanel {
    height: 500px;
    /*background: linear-gradient(#E6E6E6, white);*/
    /*background: linear-gradient(#F6EDEE, white);*/
    background: linear-gradient(#F1E4E6, white);
    /*background-color: green;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    position: relative;
}

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
    float:center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    /*height: 350px;*/
}

.moduleResPanel {
    background: linear-gradient(#A7D2CB, white);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    min-height: 350px;
    /*max-height: 700px;*/
    height: auto;
    max-width:100%;
    /*position: relative;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
}

.modResTitle {
    text-align: left;
    font-size: 28px;
}

.resHeaders {
    font-size: 20px;
    text-align: right;
    /*float: right;*/
}

.resData {
    font-size: 20px;
    
}

tr.r {
    background-color: transparent;
}

.btn3 {
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    /*width: 20%;*/
    width: 20%;
    height: 20%;
    font-size: 18px;
    font-family: Raleway;
    /*position: relative;*/
    /*bottom: 10%;*/
}

#ovalContain {
    height:175px;
    width:300px;
    /*border:1px black solid;*/
    /*float:right;*/
    position: relative;
    float: right;
    margin-right: 30px;
}

#ovalPerc {
    height:175px;
    width:250px;
    background:#F2D388;
    border: 10px #595145 double;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50%;
    /*margin-left:25%;*/
    /*margin-top:25%;*/
}

.percent {
    text-align: center;
    margin-top:5%;
    font-size: 90px;
    position: relative;
}


/*INDIVIUDAL RESULTS PAGE********************************************************************/
.indiBtn {
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 40%;
    height: 20%;
    font-size: 18px;
    font-family: Raleway;
    display: block;
    margin-left: 55%;
}

.indiBtn2 {
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 40%;
    height: 20%;
    font-size: 18px;
    font-family: Raleway;
    margin-left: 5%;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.dropdownBtn {
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: block;
    width: 100%;
    height: 20%;
    font-size: 18px;
    font-family: Raleway;
    /*margin-left: 5%;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.drpmenu {
    width: 100%;
    font-size: 18px;
    
}

/*Promdule page css**************************************************************/

.radio-inline{
    margin-right: 50px;
    height: 40px;
    width:45px;
}

.big{
    height: 15px;
    width: 15px;
}

td.b3 {
   /*padding: none; */
   /*border: none;*/
   text-align: left;
   vertical-align: top;
   padding-left:35px;
}

table.d {
    border-collapse: collapse;
    /*padding-left: 15px;*/
    /*margin-top:10px;*/
    margin-left: auto;
    margin-right: auto;
}

th.b4 {
   text-align: center;
   /*background-color: #F6EDEE;*/
   vertical-align: bottom;
   float: left;
   /*margin-right: 5px;*/
   width: 100%;
   /*margin-right:50px;*/
   /*padding-left:35px;*/
   /*padding-right:35px;*/
}

.text1 {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    /*margin:60px;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}